@mixin skillList {
<<<<<<< HEAD
  background-color: var(--color-skillitembg);
  padding: 12px 8px;
  border-radius: 0 3px 3px 0;
  font-size: 1rem;
  color: var(--color-primary-2);
  border: 1px solid color('white');
  border-left: 5px solid var(--color-primary);
  @media print {
    padding: 5px 8px 5px 5px;
    background-color: color('grey');
    -webkit-print-color-adjust: exact;
    border-left: none;
    font-size: rem(10);
    font-weight: bold;
  }
=======
  background-color: #fff;
  padding: 12px 10px;
  border-radius: 0 3px 3px 0;
  border-left: 5px solid #15717d;
  font-size: 1rem;
>>>>>>> c9ab4d2 (Feedback: incorporate all the feedback)
}
