@import './variables';
@import './utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  color: var(--color-primary-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  color: hsl(0deg 0% 20%);
}

html {
  &[lang='ko'] {
    word-break: keep-all;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.svg-sprite {
  @include visually-hidden;
}
