@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  color: hsl(0deg 0% 20%);
}

html {
  &[lang='ko'] {
    word-break: keep-all;
  }
}

body {
  background-color: #15717d;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
