$fallback-fonts: Arial, Helvetica, sans-serif;

$fonts: (
  'en': (
    'body'  : ('Roboto', #{$fallback-fonts}),
    'header': ('Roboto', #{$fallback-fonts}),
  ),
);

$font-size-base: 13;

$font-weights: (
  'light' : 300,
  'normal': 400,
  'medium': 500,
  'bold'  : 700
);