$base-unit: 8;
$content-max-width: 1024;
$default-icon-height: 24;
$default-icon-width: 24;
$default-locale: 'en';
$gutter: 24;
$header-bar-height: 64;
$icon-category-width: 94;
$icon-category-height: 85;
$section-padding-top-bottom: 86;
$section-padding-top-bottom-md: 100;
$tablet: 768px;
$laptop: 1024px;
// locales that the site supports.
$locales: ('zh', 'ja', 'ko');
$color: #fff;
$colours: (
  'black': #000,
  'cloud': #f7f7f7,
  'coal': #282828,
  'dove': #ddd,
  'red': #ff0,
  'light-red': #ff4e45,
  'medium-red': #cc0,
  'smoke': #979797,
  'white': #fff,
  'grey': #e0e0e0,
  'green': #007a65,
  'light-green': #40ad48,
  'yellow': #ffff4a,
  'purple': #6126bf,
  'blue': #3b78e7,
  'concrete': #f2f2f2,
  'silver': #bfbfbf,
  'silver-chalice': #adadad,
  'smoking-gun': #727272,
  'midnight': #1a73e8,
  'eyebrow': #4a4a4a,
  'footnote': #5f6368,
  'teal': #15717d,
  'dark-teal': #165f69,
  'transparent': rgba(0, 0, 0, 0),
);

:root {
  --color-primary: #15717d;
  --color-primary-2: #282828;
  --color-secondary: #fff;
  --color-secondary-2: #e0e0e0;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --color-shadow: #ddd;
  --color-mail: #ea4335;
  --color-github: var(--color-primary-2);
  --color-linkedin: #0177b5;
}
.darkmode {
  --color-primary: #e0e0e0;
  --color-primary-2: #fff;
  --color-secondary: #282828;
  --color-secondary-2: #15717d;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --color-shadow: rgb(0, 0, 0, 0);
  --color-mail: var(--color-primary-2);
  --color-github: var(--color-primary-2);
  --color-linkedin: var(--color-primary-2);
}
// $color-light: #fff;
// $color-dark: #15717d;
// $color-primary: #282828;
// $color-secondary: #e0e0e0;
// $color-background: var($color-dark);
// $color-foreground: var($color-light);
