$base-unit: 8;
$content-max-width: 1024;
$default-icon-height: 24;
$default-icon-width: 24;
$default-locale: 'en';
$gutter: 24;
$header-bar-height: 64;
$icon-category-width: 94;
$icon-category-height: 85;
$section-padding-top-bottom: 86;
$section-padding-top-bottom-md: 100;
$tablet: 768px;
$laptop: 1024px;
// locales that the site supports.
$locales: ('zh', 'ja', 'ko');
$color: #fff;
$colours: (
  'black': #000,
  'cloud': #f7f7f7,
  'coal': #282828,
  'dove': #ddd,
  'red': #ff0,
  'light-red': #ff4e45,
  'medium-red': #cc0,
  'smoke': #979797,
  'white': #fff,
  'grey': #e0e0e0,
  'green': #007a65,
  'light-green': #40ad48,
  'yellow': #ffff4a,
  'purple': #6126bf,
  'blue': #3b78e7,
  'concrete': #f2f2f2,
  'silver': #bfbfbf,
  'silver-chalice': #adadad,
  'smoking-gun': #727272,
  'midnight': #1a73e8,
  'eyebrow': #4a4a4a,
  'footnote': #5f6368,
  'teal': #15717d,
  'dark-teal': #165f69,
  'transparent': rgba(0, 0, 0, 0),
);

:root,
.lightmode {
  --color-body: hsl(187deg 71% 29% / 100%);
  --color-primary: #15717d;
  --color-primary-2: #131313;
  --color-secondary: #fff;
  --color-secondary-2: #e0e0e0;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --shadow-color: hsl(0deg 0% 87% / 50%);
  --color-mail: #ea4335;
  --color-github: var(--color-primary-2);
  --color-linkedin: #0177b5;
  --color-skillbg: hsl(0deg 0% 88% / 100%);
  --color-skillitembg: hsl(0deg 0% 100% / 100%);
  --color-tealbg: hsl(187deg 71% 29% / 100%);
  --color-border: var(--color-primary);
  --shadow: 0.3px 0.5px 0.6px var(--shadow-color),
    0.5px 1px 1.1px -0.9px var(--shadow-color),
    1.1px 1.5px 2.3px -1.8px var(--shadow-color),
    2.3px 2px 5px -2.7px var(--shadow-color),
    3.4px 2.5px 7.3px -1.6px var(--shadow-color),
    5.8px 3px 10.3px -4.6px var(--shadow-color);
  --shadow-picture: -0.7px -1.5px 1.6px var(--shadow-color),
    -1.5px 0px 2.1px 2.1px var(--shadow-color),
    0.1px -0.9px 4.3px 3.2px var(--shadow-color),
    -2.7px -2.3px 6px -4.7px var(--shadow-color),
    5.4px 4.8px 8.3px -3.6px var(--shadow-color),
    7.8px 5.6px 10.3px -6.6px var(--shadow-color);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-body: hsl(187deg 71% 29% / 100%);
    --color-primary: #15717d;
    --color-primary-2: #131313;
    --color-secondary: #fff;
    --color-secondary-2: #e0e0e0;
    --color-background: var(--color-primary);
    --color-foreground: var(--color-secondary);
    --shadow-color: hsl(0deg 0% 87% / 50%);
    --color-mail: #ea4335;
    --color-github: var(--color-primary-2);
    --color-linkedin: #0177b5;
    --color-skillbg: hsl(0deg 0% 88% / 100%);
    --color-skillitembg: hsl(0deg 0% 100% / 100%);
    --color-tealbg: hsl(187deg 71% 29% / 100%);
    --color-border: var(--color-primary);
    --shadow: 0.3px 0.5px 0.6px var(--shadow-color),
      0.5px 1px 1.1px -0.9px var(--shadow-color),
      1.1px 1.5px 2.3px -1.8px var(--shadow-color),
      2.3px 2px 5px -2.7px var(--shadow-color),
      3.4px 2.5px 7.3px -1.6px var(--shadow-color),
      5.8px 3px 10.3px -4.6px var(--shadow-color);
    --shadow-picture: -0.7px -1.5px 1.6px var(--shadow-color),
      -1.5px 0px 2.1px 2.1px var(--shadow-color),
      0.1px -0.9px 4.3px 3.2px var(--shadow-color),
      -2.7px -2.3px 6px -4.7px var(--shadow-color),
      5.4px 4.8px 8.3px -3.6px var(--shadow-color),
      7.8px 5.6px 10.3px -6.6px var(--shadow-color);
  }
}
.darkmode {
  --color-body: hsl(0deg 0% 13%);
  --color-primary: #e0e0e0;
  --color-primary-2: #eeeeee;
  --color-secondary: #131313;
  --color-secondary-2: #15717d;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --color-shadow: rgb(0, 0, 0, 0);
  --color-mail: var(--color-primary-2);
  --color-github: var(--color-primary-2);
  --color-linkedin: var(--color-primary-2);
  --color-skillbg: hsl(0deg 0% 88% / 0%);
  --color-skillitembg: hsl(0deg 0% 100% / 0%);
  --color-tealbg: #131313;
  --color-border: var(--color-primary-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: hsl(0deg 0% 13%);
    --color-primary: #e0e0e0;
    --color-primary-2: #eeeeee;
    --color-secondary: #131313;
    --color-secondary-2: #15717d;
    --color-background: var(--color-primary);
    --color-foreground: var(--color-secondary);
    --color-shadow: rgb(0, 0, 0, 0);
    --color-mail: var(--color-primary-2);
    --color-github: var(--color-primary-2);
    --color-linkedin: var(--color-primary-2);
    --color-skillbg: hsl(0deg 0% 88% / 0%);
    --color-skillitembg: hsl(0deg 0% 100% / 0%);
    --color-tealbg: #131313;
    --color-border: var(--color-primary-2);
  }
}
