.skills {
  padding: 20px 49px;
  margin-left: -49px;
  margin-right: -49px;
  background-color: color('grey');
  &__listgroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px 30px;
    &__item {
      @include skillList;
    }
  }
}
