@import '../../styles/common';

body {
  background-color: color('grey');
}

.skills {
  background-color: color('teal');
  &__listgroup__item {
    border-left: 5px solid color('grey');
  }
}
.experience {
  &__listgroup__item__right {
    border-left: rem(2) dotted color('coal');
    &__listgroup__item {
      &::before {
        border: rem(2) solid color('coal');
      }
      &::after {
        background-color: color('coal');
      }
    }
  }
  &__listgroup__item__left__tenure {
    background: color('coal');
    &::before {
      border-right-color: color('black');
      border-top-color: color('black');
    }
  }
}
