@import '../../styles/common';

body {
  background-color: var(--color-body);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--color-secondary);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  padding: rem(30) rem(40);
  z-index: 2;
  position: relative;
  @media (min-width: $laptop) {
    margin: rem(30) auto;
    border-radius: rem(20);
  }
  @media print {
    margin: 0;
  }
}

.theme-toggle {
  background: none;
  border: 2px solid var(--color-primary-2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: absolute;
  right: 26px;
  top: 26px;
  cursor: pointer;
  @media print {
    display: none;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 6% 4%;
  grid-template-columns: minmax(250px, 1fr) minmax(330px, 100%);
  gap: rem(40);
  align-items: center;
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(400px, 100%);
    margin: 3% 3% 5%;
    gap: 20px;
  }
  @media (min-width: $laptop) {
    grid-template-columns: minmax(300px, 1fr) minmax(400px, 100%);
  }
  @media print {
    margin: 3% 0;
    grid-template-columns: 0 100%;
    gap: 0;
  }
  &__picture {
    box-shadow: var(--shadow-picture);
    border-radius: 1000px;
    height: 250px;
    width: 250px;
    border: rem(18) solid var(--color-secondary);
    overflow: hidden;
    @media (min-width: $tablet) {
      width: 250px;
      height: 250px;
    }
    @media print {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: clamp(2rem, -0.875rem + 8vw, 3.2rem);
      font-weight: font-weight('bold');
      @media print {
        font-size: rem(16);
      }
    }
    &__area {
      font-size: clamp(1rem, -0.675rem + 5vw, 1.2rem);
      color: var(--color-primary-2);
      @media print {
        font-size: rem(12);
      }
    }
    &__description {
      font-size: clamp(1rem, -0.675rem + 4vw, 1.1rem);
      padding: rem(18) 0 rem(25);
      line-height: clamp(1rem, 1.8rem, 2.1rem);
      @media print {
        font-size: rem(11);
        line-height: rem(15);
        padding: rem(8) 0 0 0;
      }
    }
  }
  &__link {
    padding: rem(12) rem(20);
    border-radius: rem(50);
    margin-right: rem(15);
    font-size: rem(13);
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary-2);
    width: max-content;
    transition: padding 0.5s ease;
    &:hover {
      background-color: var(--color-shadow);
    }
    @media print {
      display: none;
    }
  }
}

.loader,
.finished {
  position: relative;
  padding-right: rem(48);
  transition: all 0.2 ease;
}
.loader:after {
  content: '';
  position: absolute;
  height: rem(30);
  width: rem(30);
  background: transparent;
  border: rem(2) solid #ff4e45;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: animate 1s 0.4s linear infinite;
  animation: animate 1s 0.4s linear infinite;
  right: rem(7);
  top: rem(5);
  transition-delay: 0.6s;
}
@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}
.finished:after {
  content: '';
  position: absolute;
  height: rem(30);
  width: rem(30);
  border: rem(2) solid color('light-green');
  border-radius: 50%;
  -webkit-animation: special 1s ease-in;
  animation: special 1s ease-in;
  right: rem(7);
  top: rem(5);
}
.finished:before {
  content: '';
  background-image: url(../../images/green-check.png);
  background-size: 18px 17px;
  position: absolute;
  height: rem(25);
  width: rem(25);
  background-repeat: no-repeat;
  -webkit-animation: special 1s ease-in;
  animation: special 1s ease-in;
  right: rem(5);
  z-index: 1;
  top: rem(13);
}
@keyframes special {
  10% {
    transform: scale(0.8) translateY(0px);
  }
  35% {
    transform: scale(1) translateY(0);
  }
}

section {
  padding-top: rem(40);
  @media print {
    padding-top: rem(20);
  }
}

h2 {
  font-size: clamp(1.6rem, -0.875rem + 5vw, 1.8rem);
  padding-bottom: rem(20);
  @media print {
    font-size: rem(14);
    padding-bottom: rem(10);
  }
}

.experience {
  &__listgroup {
    &__item {
      box-shadow: var(--shadow);
      padding: rem(20);
      border-radius: rem(10);
      border: 1px solid color('dove');
      display: flex;
      flex-direction: column;
      line-height: rem(18);
      font-size: rem(13);
      gap: rem(30);
      margin-bottom: rem(20);
      &:nth-child(1) {
        @media print {
          .experience__listgroup__item__right__listgroup__item {
            &:nth-child(9),
            &:nth-child(8),
            &:nth-child(7),
            &:nth-child(6),
            &:nth-child(5) {
              display: none;
            }
          }
        }
      }
      &:nth-child(2) {
        @media print {
          .experience__listgroup__item__right__listgroup__item {
            &:nth-child(4),
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
      @media print {
        padding: 0 0 rem(10) 0;
        font-size: rem(10);
        gap: rem(10);
        box-shadow: none;
        margin-bottom: rem(15);
        border: none;
        border-bottom: 2px solid color('dove');
        border-radius: 0;
      }
      &__left {
        line-height: rem(26);
        width: 220px;
        @media print {
          line-height: rem(15);
          display: flex;
          width: 100%;
        }
        &__tenure {
          position: relative;
          background: var(--color-tealbg);
          padding: rem(4) rem(15) rem(4) rem(28);
          color: color('white');
          margin-left: -35px;
          margin-bottom: rem(8);
          border: 1px solid var(--color-border);
          @media print {
            font-size: rem(10);
            padding: 0;
            color: color('coal');
            margin-left: 0;
            margin-bottom: 0;
            border: none;
            padding-right: rem(10);
            border-right: 2px solid color('grey');
            margin-right: rem(10);
          }
          &:before {
            content: '';
            position: absolute;
            border: 5px solid transparent;
            border-right-color: var(--color-primary);
            border-top-color: var(--color-primary);
            bottom: -10px;
            left: -1px;
            @media print {
              content: none;
            }
          }
        }
        &__designation {
          @media print {
            padding-right: rem(10);
            border-right: 2px solid color('grey');
            margin-right: rem(10);
          }
        }
      }
      &__right {
        width: 100%;
        border-left: rem(2) dotted var(--color-primary);
        padding-left: rem(20);
        @media print {
          padding-left: rem(15);
          border-left: none;
        }
        &__listgroup {
          &__item {
            margin-bottom: rem(8);
            position: relative;
            @media print {
              margin-bottom: rem(3);
              line-height: 14px;
            }
            &::before {
              content: '';
              position: absolute;
              width: 12px;
              height: 12px;
              background-color: var(--color-secondary);
              border: rem(2) solid var(--color-primary);
              border-radius: 10px;
              left: -32px;
              top: rem(4);
              @media print {
                border: rem(2) solid color('eyebrow');
                width: 8px;
                height: 8px;
                left: -18px;
                top: rem(2);
              }
            }
            &::after {
              content: '';
              position: absolute;
              width: 8px;
              height: 2px;
              background-color: var(--color-primary);
              left: -20px;
              top: rem(8);
              @media print {
                content: none;
              }
            }
          }
        }
        @media (min-width: $tablet) {
          width: calc(100% - 250px);
        }
      }
      @media (min-width: $laptop) {
        flex-direction: row;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.education {
  &__listgroup {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    @media print {
      width: 100%;
      flex-wrap: no-wrap;
      display: flex;
      flex-direction: row;
      gap: rem(20);
    }
    &__item {
      position: relative;
      padding-left: rem(20);
      @media print {
        width: 50%;
        padding-left: rem(15);
      }
      &__qualification {
        margin-bottom: rem(5);
        font-size: rem(13);
        @media print {
          margin-bottom: rem(2);
          font-size: rem(10);
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: var(--color-primary);
        left: 0;
        top: rem(5);
        @media print {
          -webkit-print-color-adjust: exact;
          background-color: color('eyebrow');
          width: 8px;
          height: 8px;
          top: rem(2);
        }
      }
    }
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }
}

.footer {
  margin-top: rem(40);
  padding-top: rem(15);
  border-top: rem(2) solid color('grey');
  display: flex;
  justify-content: flex-end;
  @media print {
    margin-top: rem(20);
    justify-content: flex-start;
  }
  &__social {
    display: flex;
    gap: 11px;
    flex-direction: row-reverse;
    @media print {
      svg {
        display: none;
      }
      & a:nth-child(3):after {
        content: 'adititomar2k8@gmail.com,';
        position: relative;
        padding-right: 10px;
      }
      & a:nth-child(2):after {
        content: 'https://github.com/Adititomar123,';
        position: relative;
        padding-right: 10px;
      }
      & a:nth-child(1):after {
        content: 'https://www.linkedin.com/feed/';
        position: relative;
        padding-right: 10px;
      }
    }
  }
  &__social a {
    display: block;
  }
  &__social svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-linkedin);
  }
}
